<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil Prediksi Data</title>
</head>
<style>
    h1{
        color: black;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 50px;
        margin-bottom: 0;
    }
    
</style>
<body style="background-image: url('https://www.managedhealthcareexecutive.com/sites/default/files/CancerRibbons_225317395_3.png');
background-repeat: no-repeat;
background-size: 100% 215%;">
<center>
    <br>
    <br>
    <h1>
        The Prediction from Your Data is {{x}}
    </h1>
    <h2>
        Information :
    </h2>
    <h3>
        Benign as B (not dangerous to health) <br><br> Malignant as M (has the potential to be dangerous)
    </h3>
    <a href="https://www.breastcancer.org/symptoms/understand_bc/what_is_bc">Visit The Source for Better Explanation!</a>
    <br>
    <br>
    <br>
    <a href ='http://127.0.0.1:1234/'>
        <input type="submit" value="Predict again!"></a>
</center>
</body>
</html>